body{
  font-family: Arial,sans-serif;
  margin: 20px;
}
h1{
  color: #2e8b57;
}
a{
  margin-right: 15px;
  color: blue;
}
section{
  margin-top: 40px;
}
form{
  margin-top: 10px;
}
textarea{
  width: 100%;
  height: 80px;
  background-color: #fffacd;
  padding: 8px;
}
input[type="submit"]{
  background-color: #2e8b57;
  color: white;
}